@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
.light-background {
  --Text: hsl(200, 15%, 8%);
  --BG: hsl(0, 0%, 98%);
  --input: hsl(0, 0%, 52%) ;
  --Tt:hsl(0, 0%, 100%);
}

.dark-background {
  --Tt: hsl(209, 23%, 22%) ;
  --BG: hsl(207, 26%, 17%);
  --Text: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  text-align: none;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

.container {
  max-width: min(100%, 1440px);
  width: 84%;
  margin-inline: auto;
}

header {
  background: var(--Tt);
}
header .top {
  display: flex;
  justify-content: space-between;
  padding: 23px;
  flex-direction: row;
}
@media screen and (max-width: 375px) {
  header .top {
    padding: 23px 0px;
    align-items: center;
  }
}
header .top h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--Text);
}
@media screen and (max-width: 375px) {
  header .top h1 {
    font-size: 14px;
    color: var(--Text);
  }
}
header .top p {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  color: var(--Text);
  padding: 0.36625em 0px 0px 0.665em;
  gap: 0.35em;
}
@media screen and (max-width: 375px) {
  header .top p {
    font-size: 14px;
  }
}

main {
  background: var(--BG);
  min-height: 100vh;
}

.bars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 0px 0px 25px;
}
.bars .search {
  width: 480px;
  background: var(--Tt);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 5px 0px 6px 32px;
  height: 53px;
  border-radius: 10px;
}
.bars .search svg {
  color: var(--Text);
}
.bars .search input {
  background: transparent;
  width: 100%;
  color: var(--Text);
}
.bars .filters {
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: var(--Text);
  font-size: 14px;
}

.filters {
  width: 200px;
  margin-right: 25px;
  height: 100%;
  position: relative;
  background: var(--Tt);
  border-radius: 10px;
}
.filters select {
  width: 100%;
  padding: 1.368em;
  font-size: 14px;
}

.opt {
  width: 100%;
  background: var(--Tt);
}

.custom-select {
  border-radius: 10px;
  position: relative;
  height: 50px;
  background: var(--Tt);
}
.custom-select::before {
  position: absolute;
  right: 26px;
  content: "";
  width: 8px;
  height: 8px;
  z-index: 1000;
  border: 2px solid var(--input);
  top: 18px;
  border-top: 0;
  pointer-events: none;
  transition: 0.5s;
  border-left: 0;
  transform: rotate(45deg);
}
.custom-select.active::before {
  top: 20px;
  transform: rotate(-135deg);
}
.custom-select input {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--Text);
  width: 100%;
  cursor: pointer;
  height: 100%;
  background: var(--Tt);
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.custom-select .option {
  position: absolute;
  top: 60px;
  width: 100%;
  background: var(--Tt);
  color: var(--Text);
  border-radius: 10px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: none;
}
.custom-select .option div {
  padding: 12px 20px;
  cursor: pointer;
}
.custom-select.active .option {
  display: block;
}

.flags {
  display: grid;
  padding: 23px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 4em;
}
@media screen and (max-width: 700px) {
  .flags {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 375px) {
  .flags {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.flags .flag {
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: var(--Tt);
  width: 98%;
}
.flags .flag .img {
  margin-bottom: 12px;
}
.flags .flag .img img {
  width: 100%;
  height: 165px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.flags .flag .details {
  padding: 10px 0px 42px 27px;
  margin-left: -3px;
}
.flags .flag .details h2 {
  font-size: 1.1em;
  color: var(--Text);
}
.flags .flag .details h3 {
  font-size: 0.9em;
  padding-top: 0.5em;
  color: var(--Text);
}
.flags .flag .details h3 small {
  font-weight: 400;
}

.seach {
  width: 50px;
  background: transparent;
  height: 100%;
  cursor: pointer;
}

.countries {
  display: flex;
  flex-direction: column;
}
.countries .back {
  cursor: pointer;
  color: var(--Text);
  background: var(--Tt);
  width: fit-content;
  padding: 9px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-left: 24px;
  margin-top: 38px;
  place-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.countries .country {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 80px;
  margin-top: 120px;
}
.countries .country .fimg {
  margin-left: 23px;
  width: 90%;
  height: 400px;
  margin-top: -43px;
}
.countries .country .fimg img {
  object-fit: cover;
  width: 100%;
}
.countries .country .cinfo h2 {
  font-size: 1.932em;
  color: var(--Text);
}
.countries .country .cdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 70px;
  margin-top: -5px;
  padding: 0px 0px 38px 0px;
}
.countries .country .cdetails .left, .countries .country .cdetails .right {
  padding: 25px 0px;
}
.countries .country .cdetails h1 {
  font-size: 1em;
  padding-top: 0.5em;
  color: var(--Text);
}
.countries .country .cdetails h1 small {
  font-size: 1.08em;
  font-weight: 400;
  padding-right: 3px;
}
.countries .country .border {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  gap: 10px;
}
.countries .country .border h1 {
  font-size: 1em;
  padding-top: 0.5em;
  color: var(--Text);
  margin-top: -8px;
}
.countries .country .border .pa {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.countries .country .border .pa p {
  font-weight: 400;
  font-size: 0.9em;
  padding: 4px 23px;
  color: var(--Text);
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}/*# sourceMappingURL=main.css.map */